<%- include("partials/header"); -%>
<h1 class="welcome">Welcome <%= firstName %> !</h1>
<p class="title" style="color:blue" ;> <b>Instructions:</b> </p>
<p class="text"><%= startingContent%></p>

<div class="container">
  <p class="alert"><%= text %></p>
  <form class="" action="/" method="post">
    <div class="skill-test">
      <h2 class="title">Strange stories</h2>
      <figure class="snip1566">
        <img src="strangestory.PNG" alt="Strange Story Image" />
        <a href="strangestory"></a>
      </figure>
    </div>

    <div class="skill-test">
      <h2 class="title">Silent Films</h2>
      <figure class="snip1566">
        <img src="silentfilm.PNG" alt="Silent Film Image" />
        <a href="silentfilm"></a>
      </figure>
    </div>

    <div class="skill-test">
      <h2 class="title">Fish Game</h2>
      <figure class="snip1566">
        <img src="fish.PNG" alt="Fish game Image" />
        <a href="fishstart"></a>
      </figure>
    </div>
  </form>
</div>

<div class="container">
  <div class="skill-test">
    <h2 class="title">Heart Game</h2>
    <figure class="snip1566">
      <img src="heartgame.PNG" alt="Heart Game Image" />
      <a href="heartstart"></a>
    </figure>
  </div>

  <div class="skill-test">
    <h2 class="title">Flower Game</h2>
    <figure class="snip1566">
      <img src="flowergame.PNG" alt="Flower Game Image" />
      <a href="flowerstart"></a>
    </figure>
  </div>

  <div class="skill-test">
    <h2 class="title">Emotion Game</h2>
    <figure class="snip1566">
      <img src="feeling.PNG" alt="Emotion Recongnition Image" />
      <a href="emotionstart"></a>
    </figure>
  </div>
</div>

<div class="container">
  <div class="skill-test">
    <h2 class="title">Numbers Game</h2>
    <figure class="snip1566">
      <img src="number.png" alt="Numbers Game Image" />
      <a href="numberstart"></a>
    </figure>
  </div>

  <div class="skill-test">
    <h2 class="title">Vocabulary Game</h2>
    <figure class="snip1566">
      <img src="words.png" alt=Vocabulary Game Image" />
      <a href="wordstart"></a>
    </figure>
  </div>
</div>





<%- include("partials/footer"); -%>
